<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>

    {% block etxCSS %}
        <link href="/static/css/haiersoft.css" rel="stylesheet" type="text/css" media="screen,print" />
        <link href="/static/css/print.css" rel="stylesheet" type="text/css"  media="print" />
    {% endblock %}

    {% block etxJS %}
        <script src="/static/js/jquery-1.10.1.min.js"></script>
        <script src="/static/js/side.js" type="text/javascript"></script>
    {% endblock %}
</head>

<body>
    {% block content %}
    {% endblock %}
</body>
</html>