	{% extends 'rango/base.html' %}
	{% load staticfiles %}
	{% block title_block %}
		All_pages
	{% endblock %}
	{% block body_block %}
	
		<div class="row marketing">
        {% if pages %}
			<div>
            <h4>全部网页</h4>
            <div>共有{{ num }}个网页</div>
				<ul class="list-group">
				{% for page in pages %}
				 <li class="list-group-item" style="border: none"><a href="{% url 'rango:goto' %}?page_id={{ page.id }}" target="_blank" \>{{ page.title }}</a>
                     <span class="badge badge-pill badge-primary">{{page.views}}</span></li>
				 {% endfor %}
				 </ul>
            <ul id="PageNum" style="clear: both;">
                <li style="position: relative; float: left; list-style: none; margin: 10px;"><a href="{% url 'rango:all_pages' %}">首页</a></li>
                {% if pages.has_previous %}
                    <li style="position: relative; float: left; list-style: none; margin: 10px;"><a href="{% url 'rango:all_pages' %}?page_num={{ pages.previous_page_number }}">上一页</a></li>
                {% endif %}
                {% for i in pages.paginator.page_range %}
                    <li style="position: relative; float: left; list-style: none; margin: 10px;"><a href="{% url 'rango:all_pages' %}?page_num={{ i }}">{{ i }}</a></li>
                {% endfor %}
                {% if pages.has_next %}
                    <li style="position: relative; float: left; list-style: none; margin: 10px;"><a href="{% url 'rango:all_pages' %}?page_num={{ pages.next_page_number }}">下一页</a></li>
                {% endif %}
                <li style="position: relative; float: left; list-style: none; margin: 10px;">当前{{ pages.number }}页</li>
                <li style="position: relative; float: left; list-style: none; margin: 10px;"><a href="{% url 'rango:all_pages' %}?page_num={{ pages.paginator.num_pages }}">尾页</a></li>
</ul>
            </div>
        {% endif %}
		</div>
	{% endblock %}