  venv
.idea
db_sqlite3
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
Desktop.ini
__pycache__
djenv01
migrations
log
!rango_project
virtual_venv
*.rar
.ipynb_checkpoints/
大型网络架构-阿里和淘宝/
tools/
支付宝植入/
temp/