
<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<!-- for-mobile-apps -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="User Register Form Widget Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!-- //for-mobile-apps -->
<link href='http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300italic,300,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Amaranth:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href="{{ url_for('static', filename='user/css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <div class="content">
		<h1>用户登录</h1>
		<div class="main">
			<h2>Welcome login!</h2>
			
			<form action="" method="post">
				<h5>用户名:</h5>
				<input name="username" type="text" value="请输入用户名"
					   onfocus="this.value = '';"
					   onblur="if (this.value == '') {this.value = '输入用户名';}"
					   required="">
				<h5>密码:</h5>
				<input name="password" type="password" value="请输入密码"
					   onfocus="this.value = '';"
					   onblur="if (this.value == '')
					   {this.value = '输入密码';}" required="">
				<input type="submit" value="登录">
			</form>
		</div>
		<p class="footer">&copy; 2018 User Login </p>
	</div>
</body>
</html>
