{% extends 'base.html' %}

{% block title %}
Register
{% endblock %}

{% block etxCSS %}
	{{ super() }}
<!-- for-mobile-apps -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="User Register Form Widget Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!-- //for-mobile-apps -->
<link href='http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300italic,300,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Amaranth:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href="/static/user/css/style.css" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block content %}
    <div class="content">
		<h1>用户注册</h1>
		<div class="main">
			<h2>Register here</h2>
			<form action="" method="post">
				<h5>用户名</h5>
				<input type="text" value="用户名" name='username' onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Type here';}" required="">
				<h5>电子邮件</h5>
				<input name="email" type="text" value="johnkeith@mail.com"
					   onfocus="this.value = '';"
					   onblur="if (this.value == '')
					   {this.value = 'johnkeith@mail.com';}" required="">
				<h5>密码</h5>
				<input name="password" type="password" value="Password"
					   onfocus="this.value = '';"
					   onblur="if (this.value == '')
					   {this.value = 'Password';}" required="">
				<h5>确认密码</h5>
				<input name="re_password" type="password" value="Password"
					   onfocus="this.value = '';"
					   onblur="if (this.value == '')
					   {this.value = 'Password';}" required="">
				<input type="submit" value="注册">
			</form>
		</div>
		<p class="footer"> &copy; 2018 User Register</p>
	</div>
{% endblock %}
