<!DOCTYPE html>
<html>
<head>
<title>上传文件</title>
<link href="/static/upload/css/style.css" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="timer Sign In Form,Login Forms,Sign up Forms,Registration Forms,News latter Forms,Elements"./>

<!--webfonts-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<!--//webfonts-->
</head>
<body>
<h1>上传文件</h1>
	<div class="app-timer">
		<div class="timer"><img src="/static/upload/images/timer.png" class="img-responsive" alt="" /></div>
			<form>
				    <div class="submit"><input type="file"></div>
					<div class="clear"></div>


					<div class="submit"><input type="submit"
                                               value="提交" ></div>
					<div class="clear"></div>
			</form>
	</div>
	<!--start-copyright-->
   		<div class="copy-right">
				<p>Copyright &copy; 2015  All rights  Reserved | Template by &nbsp;<a href="http://www.smallseashell.com">.小贝壳网站模板.</a></p>
		</div>
	<!--//end-copyright-->
</body>
</html>